body {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(img/background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav-bar img {
  width: 100px;
}

.nav-bar {
  width: 85%;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.nav-side {
  align-items: center;
}

.nav-side img {
  width: 30px;
  display: none;
}

.nav-side button {
  margin-right: 20px;
}

button {
  background: transparent;
  border: 1px solid #fff;
  font-size: 17px;
  color: #fbfcfd;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: #fbfcfd;
  color: rgb(99, 99, 99);
}

.content {
  position: absolute;
  top: 30%;
  left: 8%;
  color: #fff;
  z-index: 2;
}

.content h1 {
  font-size: 80px;
}

.content small {
  font-size: 20px;
}

.sidebar {
  width: 50px;
  height: 100vh;
  background: linear-gradient(#00545d, #000729);
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar.active {
  right: 0;
}

.menu {
  display: block;
  width: 25px;
  margin: 40px auto;
  cursor: pointer;
  transition: 0.25s;
}

.menu:hover {
  transform: scale(1.2);
}

.social-links img {
  width: 30px;
  margin: 5px auto;
  cursor: pointer;
  transition: 0.25s;
}

.social-links img:hover {
  transform: scale(1.3);
}

.social-links {
  display: block;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.useful-links img {
  width: 30px;
  margin: 5px auto;
  cursor: pointer;
  transition: 0.25s;
}

.useful-links img:hover {
  transform: scale(1.3);
}

.useful-links {
  display: block;
  text-align: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
  transform: translateY(-50%);
}

.bubbles img {
  width: 50px;
  animation: bubble 5s linear infinite;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -100px;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 30px;
}

.bubbles img:nth-child(2) {
  animation-delay: 1s;
  width: 100px;
}

.bubbles img:nth-child(3) {
  animation-delay: 4s;
  width: 50px;
}

.bubbles img:nth-child(4) {
  animation-delay: 3s;
  width: 80px;
}

.bubbles img:nth-child(5) {
  animation-delay: 1.5s;
  width: 40px;
}

.bubbles img:nth-child(6) {
  animation-delay: 4.5s;
  width: 50px;
}

.bubbles img:nth-child(7) {
  animation-delay: 2.5s;
  width: 70px;
}

@media (max-width: 500px) {
  .content h1 {
    font-size: 50px;
  }

  .sidebar {
    position: absolute;
    right: -30%;
    transition: all 0.5s;
    z-index: 2;
  }

  .nav-bar .logo {
    width: 180px;
    margin-right: 20px;
  }

  .nav-side {
    display: flex;
    width: 150px;
  }

  .nav-side button {
    width: 80px;
    padding: 10px;
    font-size: 13px;
  }

  .nav-side img {
    display: flex;
    width: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 10px;
  }

  .nav-side img:hover {
    border: 1px solid #000;
    outline: none;
  }

  .menu {
    margin: 55px auto;
  }

  .menu-nav.close {
    display: none;
  }
}
